
// Sidebar Holder
nav#sidebar
  .sidebar-header
    h1.text-center U-Pay
    p.text-center Powered by
    img(src="unionBank.png")
  ul.list-unstyled.components
    li
      a(href="/merchant") Merchant
    li
      a.dropdown-toggle(href='#transactionMenu', data-toggle='collapse', aria-expanded='false') Transaction
      ul#transactionMenu.collapse.list-unstyled
        li
          a(href='/summary') Summary
        li
          a(href='/transaction') Transaction List
        li
          a(href='/refund') Refund
    li
      a.dropdown-toggle(href='#settleMenu', data-toggle='collapse', aria-expanded='false') Settlement
      ul#settleMenu.collapse.list-unstyled
        li
          a(href='/settlement') Merchant Settlement
        li
          a(href='#') Clearing Result
    li
      a(href='#') Fixed Qr Code