doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

  body
    main#showQr
      input(v-model="amount" placeholder="edit me")
      button(v-on:click="showQr") Show QR
      div(v-html="qrCode")

script(src="./script/axios.min.js")
script(src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js")
script(src="./qrcode.js")
script(src="./script/showqr.js")


        
