doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Settlement
   
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css', integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4', crossorigin='anonymous')
    
    link(rel='stylesheet', href='style.css')
 
    script(defer='', src='https://use.fontawesome.com/releases/v5.0.13/js/solid.js', integrity='sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ', crossorigin='anonymous')
    script(defer='', src='https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js', integrity='sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY', crossorigin='anonymous')

  body
      .wrapper
        include header.pug

        #content
            nav.navbar.navbar-expand-lg.navbar-light.bg-light
            h2 Settlement

            .row
             .col-md-2.col-sm-4.col-xs-6.line-border
              h6 Total Transactions
              p 5
             .col-md-2.col-sm-4.col-xs-6.line-border
              h6 Total Amount
              p 500.00
             .col-md-2.col-sm-4.col-xs-6.line-border
              h6 Refunds
              p 5
             .col-md-2.col-sm-4.col-xs-6.line-border
              h6 Refund Amount
              p 250.00
             .col-md-2.col-sm-4.col-xs-6.line-border
              h6 Net Value
              p 250.00
             .col-md-2.col-sm-4.col-xs-6.line-border
              h6 MDR Amount
              p 25.00
             .col-md-2.col-sm-4.col-xs-6.line-border
              h6 Settlement Amount
              p 225.00

            table.table.mt-4
             thead
              tr.text-center
                th Transaction Date
                th Merchant Name
                th Merchant Id
                th Total Transaction
                th Total Amount
                th Refund
                th Refund Amount
                th Net Value
                th MDR
                th MDR Amount
                th Settlement Amount
             tbody
              tr.text-center
                td 10:00:00 11/14/18
                td Jollibey
                td 211214132424
                td 5
                td 500.00
                td 5
                td 250.00
                td 250.00
                td 1%
                td 50.00
                td 245.00


            //- table.table
            //-  thead
            //-   tr.text-center
            //-     th Merchant Name
            //-     th Merchant Id
            //-     th Type of Business
            //-     th Status
            //-     th Action
            //-  tbody
            //-   tr.text-center
            //-     td Jollibey
            //-     td 1214132424
            //-     td Restaurant
            //-     td Verified
            //-     td
            //-      button.btn.btn-primary() Details
            
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    // Popper.JS
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js', integrity='sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ', crossorigin='anonymous')
    // Bootstrap JS
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js', integrity='sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm', crossorigin='anonymous')
    